.form {
  width: 100%;
  &__group {
    & > * {
      @include not-last {
        margin-bottom: 5rem;
      }
    }
  }
  &__row {
    width: 100%;
    & > * {
      padding: 0 5rem;
    }
    &--inline {
      display: flex;
      & > * {
        padding: 0 5rem;
      }
    }
  }

  &__field {
    display: flex;
    align-items: flex-end;
    //justify-content: space-between;
    &--25 {
      width: 25%;
    }
    &--50 {
      width: 50%;
    }
    &--75 {
      width: 75%;
    }
    &--100 {
      width: 100%;
    }
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 1px;
    background-color: rgba($white, .5);
    border: none;
    border-bottom: 1px solid $black;
    max-width: 100%;
    min-width: 60%;
    display: block;
    transition: all .3s;

    &:focus {
      outline: none;
      border-bottom: 1px solid $primary-color;
    }

    &:focus:invalid {
      border-bottom: 1px solid $color-danger;
    }
  }

  &__area {
    border: 1px solid $black;
    max-width: 100%;
    min-width: 60%;
  }


  &__label {
    font-weight: 700;
    transition: all .3s;
    width: 15rem;
  }

}
